<!DOCTYPE>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
     <% var channel_map = channels %>
    <% var channel_map_a = channel_mapS.map(c => { return c }) %>
    <% var object = c_obj %>
</head>
  <title>Admin CP</title>
<script src="script.js"></script>
  <div class="nav">
      <ul>
        <li onclick="redirecthome()">HOME</li>
        <li onclick="calculator();">CALCULATOR</li>
        <li onclick="redirectcontact()">CONTACT</li>
        <li>LOG IN</li>
    </ul>
  </div>
<p>
<!-- INLINE SCRIPT-->


<!-- <script>
  document.getElementById("guild7").addEventListener("change", myN);
  function myN() {
    var guilds = document.getElementById('guild7')
    var Dchannels = document.getElementById('channels')
    if(guilds.value == "495069439213961231") {
      var mycars = ['Herr','Frau'];
      mycars.forEach(function(item){
   var option = document.createElement('option');
   option.value = item;
  option.textContent = "wassup bruh";
   Dchannels.appendChild(option);
});
        
    }
  
  }
  
</script> -->
 
  <script>
    var i = 0;
  document.getElementById("user7").addEventListener("change", gS);
  function gS() {
    var guilds = document.getElementById('guilds')
    var Dchannels = document.getElementById('guilds')
    var object1 = Object.values(<%- JSON.stringify(guildsN) %>)
    var object = Object.values(<%- JSON.stringify(guilds) %>)
    console.log(object)
    let o1L = object1.length;
      object.forEach(function(item){
     var option = document.createElement('option');
     option.value = item;
      option.textContent = object1[i];
      i++;
     guilds.appendChild(option);
});

  
  }
    // Initial Implimentation
    // Get From Enmap for every server and then put then into the guilds selector and then when the user chooses one of the guilds, they can choose from the seletion of channels HOPEFULLY.... 
  </script>
  
  
  
  
<h1 align=center>
  Administration
  </h1>
  </p>
  
<h2 align=center>Control Panel</h2>
<p align=center>Welcome <%= data.pasword %>! Daily phrase of the day is:<br><h5 align=center>
  <%= value %>
</h5></p>
<p>
  <div class='divformAdmin'>
  <tr align=center>
    <form action="/lookup" method='POST' id="lookupForm">
      <th> <label for="fname">First Name:</label> </th>
   <th> <input name="fname"></input> </th>
   <th> <label for="lname">Last Name:</label> </th>
   <th> <input name="lname"></input> </th>
   <th> <label for="code" >ID: </label> </th>
    <th><input name="code" id="code" type='text' placeholder="JohnDoeSatOct2018"></input> </th>
    <th><input type="button" value='Search' onclick="lookup()" /> </th>
    <th><input name="no" id="y" type='text' placeholder="PLACEHOLDER" onchange="wrapper()">
      <%- 
         %>

</input> </th>
  </form>
</tr>
  </div>
<div class="discordForm">
<form action="https://kantibot.glitch.me/discord" method='POST' id="POSTdiscordForm">
  Discord Message Sender <br>
      <th> <label for="uuid">UUID:</label> </th>
      
   <th> <input name="uuid" type="password"  value="44314d2-e2e0-4c62-a861-c5d6884ebe9c"></input> </th>
<th> <label for="author">Who to send as:</label> </th>
<th> <input name="author" class="textbox" placeholder="Admin" id="user7" onchange="objectCaller()"></input> </th>
<label for="channels">Guild:</label>
  <input list="guilds" class="textbox" id="guild7" name="guilds" required>
  <datalist id="guilds">
     <optgroup label="Guildjs">
   <option value="495069439213961231"><a href="https://discord.gg/cRd5c7">test</a></option>
    <option value="497946723868737567">𝕭𝖊𝖙𝖗𝖆𝖞𝖊𝖉</option>
  </optgroup>
  </datalist>
<label for="channels">Channel:</label>
<input list="channels56" id="channel7" class="textbox" name="channels" placeholder="Enter Send as to load list." required>
  <datalist id="channels56">
 
  </datalist>
<th> <label for="msg" required>Message To Send:</label> </th>
  <th> <input name="msg" class="textbox" placeholder="Hello World!" required></input> </th>
  <th><input id="sumbitB" type="button" value='Send' onclick="POSTdiscord()" /> </th>

 






  </form>
</div>

</p>
<body id='submitbackground'>
    
</body>


 <script>
 

  // console.log(Dchannels)
//  let ifthefuckingcomputercantreaditidontfuckingknowwhy = objectHandler;
 // console.log(objectHandler);
    
    let objectHandler = <%- object %>;
   document.getElementById("user7").addEventListener("change", objectCaller);
 function objectCaller() {    
    var Dchannels = document.getElementById('channels56');
    var guildChooser = document.getElementById('guild7')
    console.log(Object.keys(objectHandler))
    objectHandler.forEach((c, i) => {    
      let name = c.name;
      let guild = c.guild;
      console.log(`Setting Options for: ${name} & adding ${guild}`)
      var option = document.createElement('option')
      option.value = name;
      option.textContent = guild;
      Dchannels.appendChild(option);
      return console.log(Dchannels);
  })
  

  }
  
// console.log(); // returns object You can define the object as object[index].property i.e object[0].name returns the object that's in the first index and the name property
  </script>


</html>
