<html>
  <head>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
  <script src="script.js"></script>
</head>
  <title>Looked Up <%= test %></title>
<script src="script.js"></script>
  <input id="home" type="button" value="Return" onclick="goBack();">
  <input id="home" type="button" value="Home" onclick="redirecthome();">
  <style>
  body {
      background: url('https://wallpaperstudio10.com/static/wpdb/wallpapers/1920x1080/182109.jpg');
      height: 100%;
    }
    .lookedUp p{
      color: white;
    }
    .lookedUp h6{
      color: white;
    }
  </style>
  <div class="nav">
      <ul>
        <li onclick="redirecthome()">HOME</li>
        <li onclick="calculator();">CALCULATOR</li>
        <li onclick="redirectcontact()">CONTACT</li>
        <li>LOG IN</li>
    </ul>
  </div>
  <div class='lookedUp'>
    <body>
      <p>
    The User, <%= data.fname %> <%= data.lname%> has send this message: <%= test %> . 
      
      <h6>
      You searched by id: <%= code %>
      </h6>
  </p>
    </body> 
  </div>
  
</html>