<!DOCTYPE>
<html>
  <head>
  <link rel="stylesheet" href="styles.css">
</head>
<script src="script.js"></script>
<h1 align=center>Contact Sucessful</h1>
<body id="submitbackground">
    <p>
  
  Thank you for contacting <%= data.contacted %>, <%= data.firstname%> <%= data.lastname%>! <br>
  Your message, "<%= data.message %>" has been recorded. 
      <h6>
        Please write your username down, you will need this to register an account! : <%= id %>
  </h6>
  </p>
  </body>
      <input id="home" type="button" value="Home" onclick="redirecthome();">
</html>



    